.features{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__wrap{
    width: 50%;
  }
  &__img{
    width: 40%;
    img{
      transform: translateY(10%);
    }
  }
  &__item{
    position: relative;
    padding-left: 40px;
    font-size: 20px;
    &:not(:last-child){
      margin-bottom: 16px;
    }
    &:after{
      position: absolute;
      content:"";
      top: 20%;
      left: 0;
      width: 10px;
      height: 18px;
      border-bottom: 4px solid $main-blue;
      border-right:  4px solid $main-blue;
      transform: rotate(45deg) translateY(-50%);
    }
  }
}