.frame-title{
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 440px;
  width: 100%;
  padding: 64px;
  height: 156px;
  overflow: hidden;
  animation: frameTitleAnim linear 13s forwards infinite;
  &__text{
    animation: frameTitleTextHid linear 13s forwards infinite;
  }
  &__wrap{
    min-height: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:after,&:before{
    position: absolute;
    width:  80px;
    height: 80px;
    border: 16px solid #745180;
    content: '';
  }
  &:after{
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  &:before{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  &__text{
    font-size: 30px;
    white-space: nowrap;
    @extend %futuraTitle;
    text-align: center;
    width: 344px;
  }
}
@keyframes frameTitleAnim {
  0%{
    max-width: 100px;
    height: 80px;
    padding: 50px;
  }
  16%{
    max-width: 80px;
    height: 80px;
    padding: 50px;
  }
  18%{
    max-width: 440px;
    height: 156px;
    padding: 64px;
  }
  92%{
    max-width: 440px;
    height: 156px;
    padding: 64px;
  }
  95%{
    height: 80px;
    max-width: 80px;
    padding: 50px;
  }
  100%{
    height: 80px;
    max-width: 80px;
    padding: 50px;
  }
}
@keyframes frameTitleTextHid {
  0%{
    opacity: -0.9;
  }
  16%{
    opacity: -0.9;
  }
  18%{
    opacity: 1;
  }
  92%{
    opacity: 1;
  }
  95%{
    opacity: -0.9;
  }
  100%{
    opacity: -0.9;
  }
}
@media all and(max-width: $mobile-Width){
  .frame-title{
    max-width: 320px;
    padding: 50px;
    &:after,&:before{
      width:  68px;
      height: 68px;
    }
    &__text{
      font-size: 24px;
    }
  }
  @keyframes frameTitleAnim {
    0%{
      max-width: 60px;
      height: 60px;
    }
    16%{
      max-width: 60px;
      height: 60px;
    }
    18%{
      max-width: 320px;
      height: 156px;
    }
    92%{
      max-width: 320px;
      height: 156px;
    }
    95%{
      height: 60px;
      max-width: 60px;
    }
    100%{
      height: 60px;
      max-width: 60px
    }
  }
}
@media all and(max-width: $mobileXsWidth){
  .frame-title{
    padding: 32px;
    &:after,&:before{
      width:  68px;
      height: 68px;
      border-width: 12px;
    }
    &__text{
      font-size: 20px;
    }
  }
  @keyframes frameTitleAnim {
    0%{
      max-width: 60px;
      height: 60px;
    }
    16%{
      max-width: 60px;
      height: 60px;
    }
    18%{
      max-width: 320px;
      height: 156px;
    }
    92%{
      max-width: 320px;
      height: 156px;
    }
    95%{
      height: 60px;
      max-width: 60px;
    }
    100%{
      height: 60px;
      max-width: 60px
    }
  }
}
