.howItWorks{
  position: relative;
  padding: 40px 24px;
  overflow: hidden;
  &__img{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 55%;
    max-width: 590px;
    height: 100%;
    transform: translateZ(0);
  }
  &__card{
    margin: 32px 0;
    &:last-child,&:first-child{
      margin: 0;
    }
  }
}