.howItWorks{
  position: relative;
  padding: 40px 24px;
  overflow: hidden;
  &__img{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 55%;
    max-width: 590px;
    height: 100%;
    transform: translateZ(0);
  }
  &__card{
    margin: 32px 0;
    &:last-child,&:first-child{
      margin: 0;
    }
  }
}

@media all and(max-width: $mobile-Width) {
  .howItWorks{
    padding: 40px 2%;
    margin-left: -2%;
    margin-right: -2%;
    &__img{
      box-shadow: -9px 0 16px 0 rgba(0, 0, 0, 0.1);
      left: 4%;
      width: 18%;
    }
  }
}
@media all and(max-width: $mobileXsWidth) {
  .howItWorks{
    &__img{
      width: 20%;
    }
  }
}
@media all and(max-width: 380px) {
  .howItWorks{
    &__img{
      display: none;
    }
  }
}