.section{
  margin: 24px 0;
  &__title{
    width: 100%;
    padding: 64px 0;
    @extend %futuraTitle;
    font-size: 30px;
    position: relative;
    text-align: center;
    &--2{
      padding: 16px 8px;
      background-color: $third-green;


    }
  }
  &__title-img{
    position: absolute;
    z-index: -1;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 82.2%;
    padding-top: 13.18%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__howItWorks{
    margin-top: 48px;
  }
}
@media all and(max-width: $small-tablet-width) {
  .section {
    &__title {
      font-size: 26px;
    }
  }
}
@media all and(max-width: $mobile-Width) {
  .section {
    &__title {
      font-size: 24px;
    }
    &__title-img{
      left: -10%;
      right: -10%;
      width: auto;
      background-size: 100% 100%;
      padding-top: 20.18%;
      transform: translateY(-50%);
    }
  }
}
@media all and(max-width: $mobileXsWidth) {
  .section {
    &__title-img{
      padding-top: 40%;
      background-size: 100% 100%;
    }
    &__title {
      font-size: 20px;
    }
    &__howItWorks{
      margin-top: 32px;
    }
  }
}