.work-card{
  display: flex;
  width: 100%;
  align-items: center;
  &__text-wrap{
    background-color: $third-green;
    display: flex;
    padding: 8px 16px 8px 80px;
    align-items: center;
    transform: translateX(-80%);
    transition: 0.8s;
  }
  &__text{
    text-align: left;
    font-size: 18px;
    line-height: 1.4;
    margin-right: 8px;
  }
  &__number{
    font-size: 32px;
    @extend %futuraTitle;
  }
  &__title{
    width: 40%;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    text-align: right;
    font-size: 20px;
    @extend %futuraTitle;
    margin-right: 32px;
  }

  &.appeared &__text-wrap{
    transform: none;
  }
  &:nth-of-type(1){
    .work-card{
      &__text-wrap{
        margin-left: -16px;
      }
    }
  }
  &:nth-of-type(2){
    .work-card{
      &__title{
        width: 36%;
      }
      &__text-wrap{
        margin-left: -40px;
        margin-right: 40px;
      }
    }
  }
  &:nth-of-type(3){
    .work-card{
      &__title{
        width: 31%;
      }
      &__text-wrap{
        margin-left: -64px;
        margin-right: 80px;
      }
    }
  }
  &:nth-of-type(4){
    .work-card{
      &__title{
        width: 26%;
        margin-left: -8px;
      }
      &__text-wrap{
        margin-left: -56px;
        margin-right: 120px;
      }
    }
  }
  &:nth-of-type(5){
    .work-card{
      &__title{
        width: 20%;
        margin-left: -8px;
      }
      &__text-wrap{
        margin-left: -56px;
        margin-right: 160px;
      }
    }
  }
}
@media all and(max-width:$mobile-Width){
  .work-card{
    display: block;
    background-color: $third-green;
    padding-left: 20%;
    padding-top: 16px;
    box-shadow: 0 0 10px 0 #000;
    &:nth-of-type(n) {
      .work-card {
        &__text-wrap {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          position: relative
        }
        &__title {
          padding: 0 8px;
          font-size: 16px;
          width: 100%;
          text-align: center;
        }
      }
    }
    &__text{
      font-size: 16px;
    }
    &__number{
      position: absolute;
      right: 100%;
      font-size: 26px;
      margin-right: 14%;
      top: 10%;
      z-index: 2;
    }
  }
}
@media all and(max-width:$mobileXsWidth){
  .work-card{
    padding-left: 22%;
    &__number{
      margin-right: 15.5%;
      font-size: 22px;
    }
  }
}
@media all and(max-width: 380px) {
  .work-card{
    padding-left: 15%;
    &__number{
      margin-right: 5%;
    }
  }
}